.kobo-aa.add-btn {
    background-color: #bf0000;
    width: 150px;
    display: block;
    color: white;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);    
    display: inline-block;
    cursor: pointer;    
}

#kobo-aa-dimmer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.5);
}

#kobo-aa-dimmer .main {
    background: white;
    width: 95%;
    height: 95%;
    margin: 2.5%;
    box-shadow: 2px 2px 5px black;
    overflow-y: auto;
}

#kobo-aa-dimmer .main .inner {
    /* background: lightgrey; */
    width: 95%;
    margin: 20px auto;
}

.kobo-aa-dimmer {
    overflow: hidden;
}